fastapi[standard]
uvicorn
python-jose
bcrypt
python-dotenv
pydantic
pydantic-settings
aiofiles
motor
validators
langchain_core
langchain
langchain_groq
langchain_community
youtube-transcript-api
langchain_chroma
langchain_huggingface
sentence-transformers
pypdf